.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50px;
}

.header__logo_title {
  letter-spacing: 10px;
  font-size: 34px;
  color: #53B2A6;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.sub-header__search {
  position: relative;
  display: flex;
  margin-left: 70px;
}

.sub-header__search_term {
  border: 3px solid #53B2A6;
  border-right: none;
  padding: 5px;
  height: 30px;
  width: 200px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.sub-header__search_term:focus{
  color: #53B2A6;
}

.sub-header__search_button {
  width: 40px;
  height: 46px;
  border: 1px solid #53B2A6;
  background: #53B2A6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.sub-header__links_post_button {
  text-transform: uppercase;
  text-decoration: none;
  background: #24525B;
  padding: 12px;
  font-family: 'Montserrat', sans-serif;
  border: 4px solid #53B2A6;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  position: relative;
  right: 70px;
}

.sub-header__links_post_button:hover {
  color: #ffffff;
  background: #53B2A6;
  border-color: #53B2A6;
  transition: all 0.4s ease 0s;
}

.loading-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loading-items__image {
  height: 200px;
  margin-top: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  flex: 1;
  flex-basis: 100%;
  height: 300px;
  max-width: 220px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.0);
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
  margin: 20px;
  text-align: center;
}

.item__title_container {
  height: 40px;
  background: rgba(83,178,166, .5);
  margin-bottom: 20px;
}

.item__image {
  width: 100%;
}

.item__title {
    text-transform: capitalize;
}

.rodal-dialog {
  background: #53B2A6;
  height: 400px !important;
}

.rodal-dialog:focus {
  outline: none;
}

.submitItem {
  padding: 10px;
}

.postContainer {
  color: #FFF;
  text-align: center;
}

.postButton {
  background-color: #FFF;
  border: 2px solid transparent;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 200;
  padding: 15px;
  transition-duration: 0.3s;
  width: 100%;
}

.postButton:focus {
  border: 2px solid #24525B;
  outline: none;
}

.postButton:hover {
  background-color: #53B2A6;
  color: white;
  cursor: pointer;
}

.postItemImage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.startBarter {
  margin-bottom: 20px;
}

.postItemInput {
  border-radius: 5px;
  border: 2px solid transparent;
  height: 20px;
  margin: 2px 0 2px 0;
  padding: 10px;
  width: 350px;
}

.postItemInput:focus {
  border: 2px solid #24525B;
  outline: none;
}
